<style>
  #actions ul#current_season {
    margin-top: 30px;
  }
  #current_season li a {
    position: relative;
    padding-left: 10px;
  }
  #current_season li a span {
    position: absolute;
    right: 9px;
    border-bottom: 1px dotted #727272;
  }

  #other_seasons li:first-child {
    margin-top: 0px;
  }

  /* Season picker */
  #switch_season_picker {
    margin: 0px;
    padding: 0px;
  }
  #switch_season_picker li {
    float: left;
    padding: 0px;
    margin: 0px 12px 0px 0px;
    list-style: none;
  }
  #switch_season_picker a {
    border-bottom: 0px none;
  }
</style>
<% content_for :after_javascript_libraries do %>
<script>
$(document).ready(function(){
  $('#current_season li a').click(function(e) {
      $('#current_season li a span').each(function(span){
        $(this).css('display', $(this).css('display') == 'none' ? '' : 'none');
      });
      $('#other_seasons').animate({opacity: 'toggle', height: 'toggle'}, 250);
      $('html,body').animate({
        scrollTop: $('#other_seasons').parent().offset().top
      }, 250);
      e.preventDefault();
    });
});
</script>
<% end -%>

<ul>
  <% if Refinery::Plugins.active.names.include?("refinery_pages") %>
    <li>
      <%= link_to t('.add_a_new_page'),
                  new_admin_page_path,
                  :class => "add_icon" %>
    </li>
    <li>
      <%= link_to t('.update_a_page'),
                  admin_pages_path,
                  :class => "edit_icon" %>
    </li>
  <% end %>
  <% if Refinery::Plugins.active.names.include?("refinery_files") %>
    <li>
      <%= link_to t('.upload_a_file'),
                  new_admin_resource_path(:dialog => true,
                                         :width => 600,
                                         :height => 300),
                  :class => "add_icon" %>
    </li>
  <% end %>
  <% if Refinery::Plugins.active.names.include?("refinery_images") %>
    <li>
      <%= link_to t('.upload_a_image'),
                  new_admin_image_path(:dialog => true,
                                      :width => 600,
                                      :height => 300),
                  :class => "add_icon" %>
    </li>
  <% end %>
  <%= render :partial => 'additional_dashboard_menu_items' %>
</ul>


<ul id='current_season'>
  <li>
    <%= link_to "#" do %>
      <%= current_season.name %>
      <span><%= t('change_season') %></span>
      <span style='display:none;'><%= t('cancel', :scope => 'shared.admin.form_actions') %></span>
    <% end %>
  </li>
</ul>
<ul id='other_seasons' style='display: none'>
  <% Season.all.each do |season| %>
    <li>
      <%= link_to season.name, params.dup.tap { |p| p[:set_season] = season } %>
    </li>
  <% end %>
</ul>
<% if ::Refinery.i18n_enabled? %>
  <% locales = ::Refinery::I18n.locales.clone %>
  <% current_locale = ::I18n.locale %>
  <% current_locale_title = locales.delete(current_locale) %>
  <ul id='current_locale'>
    <li>
      <%= link_to "#", :style => "background-image: url('/images/refinery/icons/flags/#{current_locale}.png');" do %>
        <%= current_locale_title.respond_to?(:force_encoding) ? current_locale_title.force_encoding('utf-8') : current_locale_title %>
        <span><%= t('.change_language') %></span>
        <span style='display:none;'><%= t('cancel', :scope => 'shared.admin.form_actions') %></span>
      <% end %>
    </li>
  </ul>
  <ul id='other_locales' style='display: none'>
    <% locales.sort_by{|key, value| value}.each do |locale, locale_title| %>
      <li>
        <%= link_to locale_title.respond_to?(:force_encoding) ? locale_title.force_encoding('utf-8') : locale_title,
                    params.dup.tap { |p| p[:set_locale] = locale },
                    :style => "background-image: url('/images/refinery/icons/flags/#{locale}.png');" %>
      </li>
    <% end %>
  </ul>
<% end %>

